{% extends "hod_template/base_template.html" %}
{% load crispy_forms_tags %}
{% block main_content %}
<div class="row mt-2">
  <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="row">
                <div class="col-md-12 m-4">
                    <h4>Update Form </h4>
                    <div class="col-11 m-0">
                        {% for message in messages %}
                        {% if message.tags == "error" %}
                            <div class="alert alert-danger alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        {% elif message.tags == "success" %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert" style="margin-top: 10px;">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-md-11 mt-8 float-left">
                            <div class="card-body">
                                <form method="POST" role="form" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form_prestasi|crispy}}
                                    <button type="submit" class="btn btn-primary btn-sm">Update</button>
                                    <a href="{% url 'manage_prestasi' %}" class="btn btn-warning btn-sm">Batal</a>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>   
</div>
{% endblock main_content %}