{% extends 'hod_template/base_template.html' %}
{% block main_content %}

{% load static %}

<div class="page-content fade-in-up">
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Informasi</div>
                </div>
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-md-12 mt-2">
                            <span class="badge badge-primary">Data Program Studi</span>
                            <table class="table">
                                <thead >
                                    <th>Kode</th>
                                    <th>Program Studi</th>
                                    <th>Fakultas</th>
                                    <th>Jenjang</th>
                                </thead>
                                <tbody>
                                    {% for pro in prodi %}
                                    
                                        <tr>
                                            <td>{{ pro.kodeprodi}}</td>
                                            <td>{{ pro.nama }}</td>
                                            <td>{{ pro.fakultas.namasingkat}}</td>
                                            <td>{{ pro.jenjang}}</td>
                                        </tr>
        
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        </div>
                        
                    <div class="row">
                        <div class="col-md-12 mt-4">
                            <span class="badge badge-success">Data Mahasiswa Berdasarkan Program Studi</span>
                            <table class="table">
                                <thead>
                                    <th>Program Studi</th>
                                    <th>Jumlah Mahasiswa</th>
                                </thead>
                                <tbody>

                                {% for mhs in mahasiswa_count_prodi  %}
                                    
                                        <tr>
                                            <td>{{mhs.programstudi__nama}}</td>
                                            <td>{{ mhs.count}}</td>   
                                        </tr>
                                
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12 mt-4">
                            <span class="badge badge-danger">Data Mahasiswa Sudah OKE</span>
                            <table class="table">
                                <thead>
                                    <th>Program Studi</th>
                                    <th>Jumlah Mahasiswa</th>
                                    <th>Sudah Fix</th>
                                    <th>Belum Fix</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>si</td>
                                        <td>20 - Orang</td>
                                        <td>15 - Orang</td>
                                        <td>5 - Orang</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox">
                <div class="ibox-head">
                    <div class="ibox-title">Keterangan</div>
                </div>
                <div class="ibox-body">
                    <div class="row align-items-center">
                        <div class="col-6 mt-1">
                            <div class="bg-primary p-10 text-white text-center">
                                <i class="fa-solid fa-graduation-cap"></i>
                                <h5 class="mb-0 mt-1">{{ prodi_count }}</h5>
                                <small class="font-light">Total Prodi</small>
                              </div>
                        </div>
                        <div class="col-6 mt-1">
                            <div class="bg-warning p-10 text-white text-center">
                                <i class="fa-solid fa-user"></i>
                                <h5 class="mb-0 mt-1">{{ all_mahasiswa_count }}</h5>
                                <small class="font-light">Total Mahasiswa</small>
                              </div>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-6 mt-1">
                            <div class="bg-success p-10 text-white text-center">
                                <i class="fa-solid fa-graduation-cap"></i>
                                <h5 class="mb-0 mt-1">
                                    {% for h in valid_count_data  %}
                                        {{ h.count_data }}
                                    {% endfor %}
                                </h5>
                                <small class="font-light">Data Oke</small>
                              </div>
                        </div>
                        <div class="col-6 mt-1">
                            <div class="bg-danger p-10 text-white text-center">
                                <i class="fa-solid fa-user"></i>
                                <h5 class="mb-0 mt-1">{{ invalid_count_data }}</h5>
                                <small class="font-light">Data Not Oke</small>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main_content %}


